* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../imagens/assortment-cinema-supplies.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.tela-login {
  width: 350px;
  height: 600px;
  background-color: transparent;
  border: 1px solid rgb(197, 63, 33);
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  gap: 1rem;
}

.tela-login h1 {
  font-size: 30px;
  color: rgb(90, 56, 184);


}

.tela-login img {
  width: 150px;
  margin-top: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login input {
  padding: 5px;
  border-radius: 10px;
}

.login p {
  font-size: 8px;
  font-style: italic;
  margin-top: -15px;
}

.login button {
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
}

.cadastro {
  font-weight: lighter;
  font-size: 10px;
}
